.header {
  display: flex;
  justify-content: center;
  background-color: #3a8d52;
  padding: 20px;
}

.form {
  display: flex;
  column-gap: 20px;
}

.input {
  min-width: 300px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
}

.input:focus {
  outline: none;
}

.btn {
  padding: 8px 20px;
  border-radius: 8px;
  border: none;
  color: #fafafa;
  font-size: 20px;
  background-color: #f6a611;
  transition: background-color 250ms ease;
}

.btn:hover,
.btn:focus {
  background-color: #8e6f19;
}
